h1, .description
	margin-bottom 4rem

textarea
	display block
	width 100%
	padding 1rem
	margin-bottom 2rem

.shell
	background-color #333
	color #EAEAEA
	padding 2rem
	font-family Menlo, Monaco, Consolas, "Courier New", monospace
	
span.shell
	padding .5rem
	margin 0 1rem
	
button
	color white
	background #13B5F1
	padding 10px 30px
	border none
	font-weight bold
	
.expand-transition
	max-height 240px
	transition max-height .3s, opacity .3s cubic-bezier(0.4, 0, 0.2, 1)
	overflow hidden

.expand-enter, .expand-leave
	max-height 0
	opacity 0

.auth-result
	margin-top 4rem

h3
	&.ok
		color green
	&.error
		color red